html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*,*::before,*::after {
    box-sizing: border-box;
}

body{
    font-family: 'Noto Serif', serif;
    font-size: 1.1em;
    margin: 0 auto;
    color: #000; 
}

header{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em 0 5em;
}

header span{
    color:#ffffff;
    font-size: 2em;
}

nav ul{
    list-style: none;
    padding: 0;
    text-align: end;
}

nav ul li{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-size: 1em;
}

