html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*,*::before,*::after {
    box-sizing: border-box;
}

header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em 0 5em;
}

header span {
    color:white;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: end;
}

nav ul li{
    display: inline-block;
    padding: 0.5em .75em;
}

a.button {
    text-decoration: none;
    color: white;
}

a.button:hover {
    text-decoration: none;
    color: white;  
}

a.button:visited {
    text-decoration: none;
    color: white;  
}

a.buttom:focus {
    text-decoration: none;
    color: white;  
}

.herobanner {
    width: 100%
}

body{
    font-family:'Courier New', Courier, monospace;
    margin: 0;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 5em 0 5em;
}

#aboutme img {
    max-height: 700px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

#service {
    background-color: #FAFAFA;
    max-width:fit-content;
}

#service h3 {
    text-align: center;
    padding: 0;
}

#service h3 {
    margin-top: 0;
}

.service-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 15em;
    padding: 1em 2em 0 2em;
}

.logo-box {
    box-sizing: border-box;
    margin: .5em;
    padding: 1em;
    border-radius: 0.125rem;
    background-color: #ffffff;
}

.web-box {
    box-sizing: border-box;
    margin: .5em;
    padding: 1em;
    border-radius: 0.123rem;
    background-color: #ffffff;
}

.brand-box {
    box-sizing: border-box;
    margin: .5em;
    padding: 1em;
    border-radius: 0.123rem;
    background-color: #ffffff;
}

#services a {
    box-sizing: border-box;
    margin: .5em;
    padding: 1em;
    border-radius: 0.123rem;
    background-color: #ffffff;
}

a.button2 {
    text-decoration: none;
    color:#ffffff;
}

a.button2:hover {
    text-decoration: none;
    color:#ffffff;
}

a.button2:visited {
    text-decoration: none;
    color:#ffffff;
}

a.button2:focus {
    text-decoration: none;
    color:#ffffff;
}

#mywork {
    text-align: center;
    padding: 5em 0 5em 0;
}

#mywork p {
    padding: 0 17em 0 17em;
}
.one {
    display: flex;
}

.two {
    display: flex;
}

#contactme {
    text-align: center;
    padding: 3em 17em 0 17em;
}

#contactme p {
    padding: 0 6em 0 6em;
}

#contactme img {
    width: min-content;
    padding: 0 0.3em 0 0.3em;
    padding-top: 1.5em;
}